<mat-card>

  <mat-card-title>
    Karly's Snack Bar
  </mat-card-title>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <input matInput value="My favorite snack" #message>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Action</mat-label>
      <input matInput value="Chocolate" #action>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>
  </mat-card-content>

</mat-card>
